*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;

}
#main{
   min-height: 100vh;
    width:100%;
    position: relative;
}
#page1{
   height: 100%;
   width:100%;
   

}
#page1 img{
   height:100%;
    width:100%;
    object-fit: cover;
}
#page1 #over{
    height:100%;
    width:100%;
    background-color: #0000007f;
    position: absolute;
    top:0;
}
#over #nav{
    height:10vh;
    width:100%;
    /* background-color: #7d3737; */
    position: relative;

}
#nav #logo{
   height:200px;
   width:200px;
   background-image: url(./logo-removebg-preview.png);
   background-position: center;
   background-size: cover;
    position: absolute;
    left:10%;
    top:-70%;
}
#center{
    height:650px;
    width:450px;
    background-color: #000000d2;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    padding: 100px;
    position: relative;
  
}
#center h1{
    color:#fff;
    font-family: Netflixsans;
}
form{
    height:60%;
    width:150%;
   
    position: relative;
   left:-20%;
   
}
h4{
     margin-left: 220px;
     margin-top: -5%;
     color: rgb(59, 57, 57);
     
}
input{
  
    padding:15px 50px;
    font-size: 15px;
 
    border-radius: 5px;
    background-color: rgb(59, 57, 57);
    
    outline: none;
    border: none;
    color: #fff;
    margin: 15px;
    cursor: pointer;

}
label{
    color:#fff;
}

button{
    padding:15px 100px;
    font-size: 20px;
    background-color: rgba(229, 9, 20);
    border-radius: 5px;
    margin-left: 20px;
    color:#fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    

}
button:hover{
    border: 1px solid #fff;
}

#center #inner{
    height:200px;
    width:400px;
    
   position: absolute;
   left:8%;
 padding:10px;
 margin: 20px;
}

#inner h1{
    font-size: 15px;
  
  color: rgb(59, 57, 57);
}
#inner h2{
    font-size: 15px;
    color: rgb(59, 57, 57);
}
#inner a{
    color:#fff;
}
